.banner{
    display: flex;
}
.chefs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width:688px) {
    .chefs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner{
        flex-direction: column;
    }
}